@charset "utf-8";

:root {
  --min-viewport-width: 375;
  --max-viewport-width: 1366;

  --min-fluid-ratio: calc(1 / var(--min-viewport-width) * 100dvi);
  --max-fluid-ratio: calc(1 / var(--max-viewport-width) * 100dvi);

  --rem: 1rem/16;
}

body {
  font-size: clamp(
    calc(14 * var(--rem)),
    0.828rem + 0.2vw,
    calc(16 * var(--rem))
  );
  line-height: 1.75;
  color: #240d00;
  font-family: "BIZ UDPMincho", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-feature-settings: "plat";
  scroll-behavior: smooth;
}
.lang_en {
  font-family: "harfang-pro", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-weight: 400;
}
.lang_script {
  font-family: "p22-marcel-script-pro", "Hiragino Sans W3",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
}

.wrap {
  max-width: 80%;
  margin: 0 auto;
  container-name: grid;
  container-type: inline-size;
}

.grid_item {
  text-align: center;
}

.grid {
  display: grid;
  align-items: center;
}

.logo {
  width: 162px;
  margin: 152px auto 13.5px 10%;
}

@media screen and (min-width: 768px) {
  /* ============================
  * ヘッダー
  * ========================= */

  /* ロゴ */
  /* ========================= */
  .logo {
    position: fixed;
    width: 150px;
    top: 155px;
    left: 8.4%;
  }
}
