@charset "utf-8";

:root {
  --min-viewport-width: 375;
  --max-viewport-width: 1366;

  --min-fluid-ratio: calc(1 / var(--min-viewport-width) * 100dvi);
  --max-fluid-ratio: calc(1 / var(--max-viewport-width) * 100dvi);

  --rem: 1rem/16;
}

body {
  /* ============================
  * 背景
  * ========================= */
  background-image: url("../images/bg_top@2x-80.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  /* ============================
  * フォント
  * ========================= */
  font-size: clamp(
    calc(14 * var(--rem)),
    0.828rem + 0.2vw,
    calc(16 * var(--rem))
  );
  line-height: 1.875;
  color: #240d00;
  font-family: "BIZ UDPMincho", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-feature-settings: "plat";
  font-weight: 400;
  scroll-behavior: smooth;
}
.lang_en {
  font-family: "harfang-pro", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-weight: 400;
}
.lang_script {
  font-family: "p22-marcel-script-pro", "Hiragino Sans W3",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
}

.wrap {
  max-width: 80%;
  margin: 0 auto;
  container-name: grid;
  container-type: inline-size;
}

.grid_item {
  text-align: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 40px;
}
img {
  display: inline-block;
  width: 100%;
}
.hide_sp {
  display: none;
}
/* ============================
* ヘッダー
* ========================= */
header {
  padding-top: 6px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
}

.logo {
  width: 90px;
  margin: 0 3%;
}

.pc_nav {
  display: none;
}

/* ============================
* ハンバーガーメニュー
* ========================= */
.sp_nav_outer {
  display: none;
}

/* 三本線 */
/* ========================= */

.ham_btn {
  width: 58px;
  height: 2.5em;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.ham_btn span {
  width: 27px;
  padding-top: 4.2%;
  background-color: #401f0f;
  position: relative;
  /* アニメーション */
  transition: 0.3s;
  z-index: 1000;
}

.ham_btn span::before,
.ham_btn span::after {
  position: absolute;
  content: "";
  background-color: #401f0f;
  width: 100%;
  padding-top: 9%;
  /* アニメーション */
  transition: 0.3s;
}

.ham_btn span::before {
  bottom: 9px;
}
.ham_btn span::after {
  top: 9px;
}

/* ×印 */
/* ========================= */
.ham_btn.open span {
  background: transparent;
}
.ham_btn.open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.ham_btn.open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューの見た目*/
/* ========================= */
.sp_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(216, 194, 141, 0.8);
  z-index: 1;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 60px;
}
.sp_nav .nav {
  font-size: calc(24 * var(--rem));
  margin: auto 0;
}

.sp_nav .small_nav {
  font-size: calc(14 * var(--rem));
  font-family: "BIZ UDPMincho", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-feature-settings: "plat";
  font-weight: 400;
  align-items: flex-start;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding-left: 85px;
  gap: 24px;
  margin-top: 23px;
}
.small_nav_item {
  line-height: 1;
  display: inline-block;
  text-align: left;
}

.small_nav_item::before {
  content: "-";
}

/* ============================
* MAIN
* ========================= */

h1 {
  font-size: clamp(
    calc(72 * var(--rem)),
    2.655rem + 7.87vw,
    calc(150 * var(--rem))
  );
  line-height: 1;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 70px;
}
.title_ja {
  font-size: clamp(
    calc(18 * var(--rem)),
    0.983rem + 0.61vw,
    calc(24 * var(--rem))
  );
  font-family: "BIZ UDPMincho", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-feature-settings: "plat";
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1;
  display: block;
}

/* ============================
* コンテン
* ========================= */
.banner_img {
  margin-bottom: 40px;
  width: 100%;
}

.small {
  font-size: calc(12 * var(--rem));
  line-height: 1;
  margin-bottom: 10px;
}
h2 {
  font-size: clamp(
    calc(18 * var(--rem)),
    0.983rem + 0.61vw,
    calc(24 * var(--rem))
  );
  line-height: 1;
  margin-bottom: 40px;
}

#intoro {
  margin-bottom: 100px;
}

.intoro {
  margin-bottom: 50px;
}
#intoro img {
  width: 100%;
}

#intoro img:not(:last-of-type) {
  margin-bottom: 30px;
}
.tool {
  margin-bottom: 80px;
}
.tool_item {
  display: flex;
}
dt {
  font-weight: normal;
  width: 115px;
  position: relative;
}
dt::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 100%;
  width: 1px;
  height: 0.8em;
  display: inline-block;
  background-color: #240d00;
}
dd {
  padding-left: 13px;
}

/* ============================
* works一覧リンク
* ========================= */
.worksList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: clamp(
    calc(14 * var(--rem)),
    0.686rem + 0.81vw,
    calc(22 * var(--rem))
  );
  margin-bottom: 30px;
}

.worksList a:first-child {
  font-size: clamp(
    calc(13 * var(--rem)),
    0.6rem + 0.91vw,
    calc(22 * var(--rem))
  );
}
/* ============================
* footer
* ========================= */
footer {
  font-size: calc(10 * var(--rem));
  text-align: center;
}
footer small {
  display: block;
  padding: 22.5px 0;
}

/* Contact */
/* ========================= */
.contact {
  display: none;
}

/* ============================
* PC
* ========================= */
@media screen and (min-width: 1000px) {
  /* ============================
  * ヘッダー
  * ========================= */

  /* ロゴ */
  /* ========================= */
  .logo {
    display: block;
    position: fixed;
    width: 150px;
    top: 11dvh;
  }
  .pc_nav {
    display: block;
    font-size: calc(14 * var(--rem));
    position: fixed;
    text-align: center;
    top: 59dvh;
    left: 8.4%;
  }
  .pc_nav li {
    margin-bottom: 25px;
  }
  /* ハンバーガーメニュー */
  /* ========================= */
  .ham_btn {
    display: none;
  }

  /* ============================
  * MAIN
  * ========================= */
  /* コンテンツ幅 */
  /* ========================= */
  .wrap {
    max-width: 660px;
    margin: 0 10% 0 30%;
  }

  h1 {
    margin-bottom: 100px;
  }

  /* ============================
* フッター
* ========================= */
  .contact img {
    width: 100%;
    transform-origin: center bottom;
    animation: contact 4s linear infinite;
  }

  @keyframes contact {
    0%,
    100% {
      transform: rotate(8deg);
    }
    50% {
      transform: rotate(-8deg);
    }
  }

  .contact {
    width: 7.3%;
    display: block;
    position: fixed;
    text-align: center;
    bottom: 53px;
    right: 4%;
  }
}

/* ============================
* hover
* ========================= */
@media (any-hover: hover) {
  /* グローバルナビ */
  /* ========================= */
  .nav a {
    position: relative;
    width: fit-content;
    display: inline-block;
    padding: 0 1em;
  }

  .nav a::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(../images/hover_line_short@2x.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.4s;
  }

  .nav a:hover::after {
    transform: scale(1, 1);
  }

  .worksList a {
    position: relative;
    display: inline;
    width: fit-content;
  }

  .worksList a::after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/hover_line_long.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.4s;
  }

  .worksList a:hover::after {
    transform: scale(1, 1);
  }
  .long_line {
    padding: 0 1em;
  }
  .short_line {
    padding: 0 1.43em;
  }
}
