@charset "utf-8";

:root {
  --min-viewport-width: 375;
  --max-viewport-width: 1366;

  --min-fluid-ratio: calc(1 / var(--min-viewport-width) * 100dvi);
  --max-fluid-ratio: calc(1 / var(--max-viewport-width) * 100dvi);

  --rem: 1rem/16;
}

body {
  line-height: 1.75;
  color: #240d00;
  font-family: "BIZ UDPMincho,游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "plat";
  scroll-behavior: smooth;
}
