@charset "utf-8";

:root {
  --min-viewport-width: 375;
  --max-viewport-width: 1366;

  --min-fluid-ratio: calc(1 / var(--min-viewport-width) * 100dvi);
  --max-fluid-ratio: calc(1 / var(--max-viewport-width) * 100dvi);

  --rem: 1rem/16;
}

body {
  font-size: clamp(
    calc(14 * var(--rem)),
    0.828rem + 0.2vw,
    calc(16 * var(--rem))
  );
  line-height: 1.75;
  color: #240d00;
  font-family: "BIZ UDPMincho", "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-feature-settings: "plat";
  scroll-behavior: smooth;
}
.lang_en {
  font-family: "harfang-pro", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-weight: 400;
}
.lang_script {
  font-family: "p22-marcel-script-pro", "Hiragino Sans W3",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
}

.wrap {
  max-width: 660px;
  margin-left: 31.5%;
}
/* ============================
* ヘッダー
* ========================= */

/* ロゴ */
/* ========================= */
h1 {
  position: fixed;
  width: 240px;
  top: 155px;
  left: 10.6%;
}
/* ナビ */
/* ========================= */
.pc_nav {
  font-size: calc(14 * var(--rem));
  position: fixed;
  text-align: center;
  top: 450px;
  left: 115px;
}
.catch_copy {
  font-size: calc(24 * var(--rem));
}
.sub_catch_copy {
  font-size: calc(14 * var(--rem));
}
/* メインビジュアル */
/* ========================= */
.mv {
  margin-top: 100px;
}

/* ============================
* Top_About
* ========================= */
h2 {
  font-size: calc(36 * var(--rem));
}
.name_ja {
  font-size: calc(20 * var(--rem));
}
.name_en.lang_script {
  font-size: calc(12 * var(--rem));
  font-weight: 300;
}

/* ============================
* Top_Works
* ========================= */
h3 {
  font-size: calc(24 * var(--rem));
}

#others .lang_script {
  font-size: calc(48 * var(--rem));
}

/* ============================
* footer
* ========================= */
footer {
  font-size: calc(10 * var(--rem));
}
